<p>
	<form method="get" action="/quizzes" >
		<input type="text" id="search" name="search" value="" placeholder="Texto a buscar" />
		<input type="submit" value="Buscar">
	</form>
</p>

<table>
  <% for (var i in quizzes) { %>        
     <tr>
        <td>
           <a href="/quizzes/<%= quizzes[i].id %>"><%= quizzes[i].question %></a>
        </td>
     </tr> 
  <% } %>
</table>

